.char-display {
	font-size: 5em;
	height: 2em;
	line-height: 2em;
	overflow: hidden;
	text-align: center;
}

.charmap {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

.charmap-cell {
	border: 1px solid #ddd;
	text-align: center;
	height: 3em;
}

.charmap-cell > .charmap-char {
	display: block;
	height: 3em;
	line-height: 3em;
	color: #000;
}

.charmap-cell > .charmap-char > span {
	background-color: hsl(60, 100%, 85%);
}

.charmap-cell > .charmap-char.active {
	background-color: hsl(200, 100%, 95%);
}

.app-sidebar .editing {
	color: #000;
}

.app-sidebar .not-editing {
	color: #888;
}
